/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2019, 10:29:14 AM
    Author     : NGUYENHOANGLOC
*/
/* style for header */
body{
    margin: 3px;
    padding: 5px;
    border: 1px #3300ff solid;
}
header{
padding: 1em 0 1em 0;
font-size: 125%;
background-color: aqua;
border-bottom: 2px solid darkred;
}
header img{
    float: left;
}
header>h1,h2{
    color: palevioletred;
}
header h3{
   margin-bottom: 0;
   padding-top: 4em;
   padding-right: 2em;
   color: darkblue;
   text-shadow: 3px yellow;
}
/* style for footer */
footer{
    border-bottom: 5px solid brown;
    text-align: center;}
/* style for nav_menu */
#nav_menu{
  margin: .5px;
  overflow: hidden;
  background-color: #3300ff;
  width: 100%;
}
#nav_menu ul{
    margin: 15px;
    padding-bottom: 15px;
}
#nav_menu ul li{
    list-style-type:none;
    float: left; 
    width:14.2%;}
#nav_menu ul li a{
text-align: center;
display: block;
width: 100%;
padding: 5px;
text-decoration: none;
/*background-color: blue;*/
color: white;
font-size: 100%;
font-weight: bold;
}
#nav_menu ul li a:hover{
    color: palevioletred;
}
/* style for element */
#s1{float: left;
font-size: 155%;
color: blue;
}
#s1 ul{
    list-style-type: none;
}
#s1 ul li a{
    text-decoration: none;
}
#s1 ul li a:hover{
    color: brown;
}

#s2{float: right;
    font-size: 125%;
    color: brown;
    padding-right: 2em;   
}

#s3{
    clear: both;
    margin: 0; 
}
#s3 h1{
   border-top: 4px double aqua;
   padding-top: .5em;
   color: brown;
}
aside{
    width: 40%;
    margin: auto;
    padding: 6em;
    text-align: center;
    font-size: 120%;
    color: brown;
}
/* style for class san-pham */
.column{
	width:25%;
	float:left;
	padding-bottom: 5px;
   }
div.san-pham{
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
div.san-pham  > div.ten{
	font-size: larger;
	font-variant: small-caps;
	color: blue;
}
div.san-pham img{
	max-width: 100%;
}
div.san-pham div.gia{
	color: red;
	font-weight: bold;
	font-size: larger;
}
div.gia span{
	color: green;
}
